.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      //
        a.brand(href="/")
          img(src="/icon/16x16.png")

      ul.nav
        li
          a(href="/settings") Settings

      form.navbar-form.pull-right
        input.span2(type="text", placeholder="Search")